{% extends 'index.html' %}
{% block content %}
<table>
	<thead>
		<tr>
			<th>CVE</th>
			<th>Description</th>
			<th>Severity</th>
			<th>Date</th>
			<th>Link</th>

		</tr>
	</thead>

	<tbody>
	
		{% for vulnerability in data %}
		<tr>
			<th>{{ vulnerability['cve']['id'] }}</th>
			<th>{{ vulnerability['cve']['descriptions'][0]['value'] }}</th>
			<th>{{ vulnerability['cve']['metrics']['cvssMetricV2'][0]['baseSeverity'] }}</th>
			<th>{{ vulnerability['cve']['published'] }}</th>
			<th><a target="_blank" href="{{ vulnerability['cve']['references'][0]['url'] }}"><span class="material-symbols-outlined">
link
</span></a></th>
		</tr>
		{% endfor %}
	</tbody>
	
</table>
{% endblock %}
