{% extends 'index.html' %}
{% block content %}
<table>
	<thead>
		<tr>
			{% for key,value in json_data.vulnerabilities[0].items() %}
			<th>{{ key }}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		
		{% for vulnerability in json_data.vulnerabilites %}
			<tr>
				{% for key,value in vulnerability.items() %}
					<th>{{ value }}</th>
				{% endfor %}
			</tr>
		{% endfor %}

	</tbody>

</table>
    <pre>{{ json_data | tojson(indent=2) }}</pre>

    <script type="text/javascript">
    	var json = json3.items
var fields = Object.keys(json[0])
var replacer = function(key, value) { return value === null ? '' : value } 
var csv = json.map(function(row){
  return fields.map(function(fieldName){
    return JSON.stringify(row[fieldName], replacer)
  }).join(',')
})
csv.unshift(fields.join(',')) // add header column
 csv = csv.join('\r\n');
console.log(csv)
    </script>

{% endblock %}
