<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projet IoT</title>

	<link rel="stylesheet" type="text/css" href="/../static/css/style.css">
	<style>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
	</style>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>
	<div class="center-x" id="intro">
		<h1>Projet IoT groupe 1</h1>
   		<h2>Alexandre MEVEL, Louis MORLOT, Vincent MILLOUR, Bilal SAFI</h2>
    	<p>Vulnerability list</p>
	</div>
	
	<div id="filter-div">
		<span class="material-symbols-outlined" id="filter-button">
			tune
		</span>
		<form method="post" action="/home">
			<div id="filter-container">
				<h1>Filter Options</h1>

				<div id="filter-1">
					<div class="options">
						<h2>Severity</h2>
							<select name="severity" id="severity">
								<option value="ALL">ALL</option>
								<option value="LOW">LOW</option>
								<option value="MEDIUM">MEDIUM</option>
								<option value="HIGH">HIGH</option>
								<!--<option value="CRITICAL">CRITICAL</option>-->
							</select>
					</div>

					<div class="options" >
						<h2>Published Before</h2><input type="date" name="dateBefore">
					</div>

					<div class="options" >
						<h2>Published After</h2><input type="date" name="dateAfter">
					</div>
						<h3 class="warning">
							<span class="material-symbols-outlined">
								warning
							</span>
							Do not exceed 120 days between the two limit dates
							<span class="material-symbols-outlined">
								warning
							</span>
						</h3>
						<div class="options" >
							<h2>Word Search</h2><input type="text" name="keyWords" placeholder="Search">
						</div>

						<h1>More filters : <span class="material-symbols-outlined">
							add
							</span></h1>

					<div id="submit-div">
						<input type="submit" value="Confirm">
						<input type="reset" value="Reset" id="reset">
					</div>
				</div>

				<!-- <div id="filter-2" class="glass">
					<div>
						<h2>Brands</h2>
						<select>
							<option></option>
						</select>
					</div>
				</div> -->


			</div>
		</form>
	</div>
<script>
	let button=document.getElementById("filter-button");
	let div=document.getElementById("filter-div");
	button.addEventListener('click',function(){
		div.classList.toggle("active")
	})

</script>

	<div id="search-div">
				<span class="material-symbols-outlined" id="searchButton" onclick="filterFunc('input',searchInput,cases)">search</span>
				<input type="text" placeholder='Search' id="searchbar">
	</div>

	<div id="data" class="center-x">
		<!-- <div style="width: 100%;height: 100px;background: transparent;"></div> -->
	 {% block content %}{% endblock %}
			
	 	<div id="objects-brands" class="flex">
			<div id="objects">

				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Wireless Hearphones</h2><input type="checkbox"></div>
				<div class="flex"><h2>SmartWatches</h2><input type="checkbox"></div>
				<div class="flex"><h2>Tablets</h2><input type="checkbox"></div>
				<div class="flex"><h2>Fridges</h2><input type="checkbox"></div>
				<div class="flex"><h2>GPS</h2><input type="checkbox"></div>
				<div class="flex"><h2>Cars</h2><input type="checkbox"></div>
				<div class="flex"><h2>RFID</h2><input type="checkbox"></div>
				<div class="flex"><h2></h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>

			</div>

			<div id="brands">
				<div class="flex"><h2>Panasonic</h2><input type="checkbox"></div>
				<div class="flex"><h2>Wireless Hearphones</h2><input type="checkbox"></div>
				<div class="flex"><h2>SmartWatches</h2><input type="checkbox"></div>
				<div class="flex"><h2>Tablets</h2><input type="checkbox"></div>
				<div class="flex"><h2></h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
				<div class="flex"><h2>Camera</h2><input type="checkbox"></div>
			</div>
		</div>

	</div>
</body>
</html>