<div id="data" class="center-x">

  <a href="/"><span class="material-symbols-outlined">
    arrow_back
    </span></a>

  <table style="border: 1px solid white;" cellspacing="0"> 
      <thead>
        <tr>
          <th>CVE</th>
          <th>Description</th>
          <th>Severity</th>
          <th>Date</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vulnerability of vulnerabilities">
          <td>{{ vulnerability.cve.id }}</td>
          <td>{{ vulnerability.cve.descriptions[0].value }}</td>
          <!-- Autres données à afficher -->
          <td>{{ vulnerability.cve.CVE_data_meta.ID }}</td>
          <td>{{ vulnerability.cve.description.description_data[0].value }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="data" class="center-x">
    <app-cve-table [vulnerabilities]="vulnerabilities"></app-cve-table>
  </div>